In [1]:

import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [2]:

rating = pd.read_csv('C:/Users/aishwarya/Desktop/ADM/lab5/BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
user = pd.read_csv('C:/Users/aishwarya/Desktop/ADM/lab5/BX-CSV-Dump/BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
book = pd.read_csv('C:/Users/aishwarya/Desktop/ADM/lab5/BX-CSV-Dump/BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
book_rating = pd.merge(rating, book, on='ISBN')
cols = ['Year-Of-Publication', 'Publisher', 'Book-Author', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']
book_rating.drop(cols, axis=1, inplace=True)
book_rating.head()

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel
3     8680  034545104X            5  Flesh Tones: A Novel
4    10314  034545104X            9  Flesh Tones: A Novel

In [3]:
book_rating.head(2)

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel

In [4]:
rating_count = (book_rating.
     groupby(by = ['Book-Title'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_book'})
     [['Book-Title', 'RatingCount_book']]
    )
rating_count.head()

                                          Book-Title  RatingCount_book
0   A Light in the Storm: The Civil War Diary of ...                 4
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Ask Lily (Young Women of Faith: Lily Series, ...                 1
4   Beyond IBM: Leadership Marketing and Finance ...                 1

In [5]:

threshold = 25
rating_count = rating_count.query('RatingCount_book >= @threshold')
rating_count.head()

                          Book-Title  RatingCount_book
75                      'Salem's Lot                47
203                   10 Lb. Penalty                61
422                   101 Dalmatians                37
673  14,000 Things to Be Happy About                28
697               16 Lighthouse Road                65

In [6]:

book_rating.head(3)

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel

In [7]:
user_rating = pd.merge(rating_count, book_rating, left_on='Book-Title', right_on='Book-Title', how='left')

In [8]:

user_count = (user_rating.
     groupby(by = ['User-ID'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_user'})
     [['User-ID', 'RatingCount_user']]
    )
user_count.head()

   User-ID  RatingCount_user
0        8                 2
1        9                 2
2       10                 1
3       14                 1
4       16                 2

In [9]:

threshold = 20
user_count = user_count.query('RatingCount_user >= @threshold')
user_count.head()

     User-ID  RatingCount_user
52       243                68
54       254               139
89       487                21
96       507                61
115      638                51

In [10]:

combined = user_rating.merge(user_count, left_on = 'User-ID', right_on = 'User-ID', how = 'inner')

In [11]:

combined.head(3)

,Book-Title,RatingCount_book,User-ID,ISBN,Book-Rating,RatingCount_user
0,'Salem's Lot,47,8936,067103975X,0,177
1,1st to Die: A Novel,509,8936,0446610038,0,177
2,A Case of Need,236,8936,0451210638,0,177

In [12]:

combined.shape

(263467, 6)

In [13]:
print('Number of unique books: ', combined['Book-Title'].nunique())
print('Number of unique users: ', combined['User-ID'].nunique())

Number of unique books:  5850
Number of unique users:  3192

#### Normalizing the ratings:

In [14]:
scaler = MinMaxScaler()
combined['Book-Rating'] = combined['Book-Rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['Book-Rating'].values.reshape(-1,1)))
combined['Book-Rating'] = rating_scaled

#### Bilding the user book matrix:

In [15]:
combined = combined.drop_duplicates(['User-ID', 'Book-Title'])
user_book_matrix = combined.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
user_book_matrix.fillna(0, inplace=True)

users = user_book_matrix.index.tolist()
books = user_book_matrix.columns.tolist()

user_book_matrix = user_book_matrix.as_matrix()

AttributeError: 'DataFrame' object has no attribute 'as_matrix'

#### tf.placeholder only available in v1, so we have to work around.

In [16]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\compat\v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

#### We will initialize the TensorFlow placeholder. Then, weights and biases are randomly initialized, the following code are taken from the book: Python Machine Learning Cook Book - Second Edition

In [17]:

num_input = combined['Book-Title'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

####  Now, we can build the encoder and decoder model, as follows:

In [18]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

#### We will construct the model and the predictions

In [19]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

y_pred = decoder_op

y_true = X

####  define loss function and optimizer, and minimize the squared error, and define the evaluation metrics

In [21]:

loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\training\rmsprop.py:123: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

#### Initialize the variables. Because TensorFlow uses computational graphs for its operations, placeholders and variables must be initialized.

In [22]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

#### We can finally start to train our model.

#### We split training data into batches, and we feed the network with them.

#### We train our model with vectors of user ratings, each vector represents a user and each column a book, and entries are ratings that the user gave to books.

#### After a few trials, I discovered that training model for 5 epochs with a batch size of 10 would be consume enough memory. This means that the entire training set will feed our neural network 20 times, every time using 50 users.

In [ ]:
with tf.Session() as session:
    epochs = 100
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_book_matrix.shape[0] / batch_size)
    user_book_matrix = np.array_split(user_book_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_book_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_book_matrix = np.concatenate(user_book_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_book_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='Book-Rating')
    pred_data.columns = ['User-ID', 'Book-Title', 'Book-Rating']
    pred_data['User-ID'] = pred_data['User-ID'].map(lambda value: users[value])
    pred_data['Book-Title'] = pred_data['Book-Title'].map(lambda value: books[value])
    
    keys = ['User-ID', 'Book-Title']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['User-ID', 'Book-Rating'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('User-ID').head(10)

In [ ]:
top_ten_ranked.loc[top_ten_ranked['User-ID'] == 278582]

In [26]:
book_rating.loc[book_rating['User-ID'] == 278582].sort_values(by=['Book-Rating'], ascending=False)

,User-ID,ISBN,Book-Rating,Book-Title
174885,278582,0226848620,10,Chinese Bell Murders (Judge Dee Mysteries)
176582,278582,157566254X,10,"Skin Deep, Blood Red"
40008,278582,0441478123,10,The Left Hand of Darkness (Remembering Tomorrow)
174861,278582,0061044725,10,Search the Shadows
58156,278582,0451202503,10,The Songcatcher: A Ballad Novel
64570,278582,1400034779,10,The No. 1 Ladies' Detective Agency (Today Show...
175958,278582,0345350499,10,The Mists of Avalon
176314,278582,0449223558,9,Murdering Mr. Monti: A Merry Little Tale of Se...
174877,278582,0140277471,9,Blanche Cleans Up
176438,278582,0515136557,8,The Cat Who Brought Down the House
176503,278582,0671877445,8,"Cetaganda (Bujold, Lois Mcmaster. Vorkosigan A..."
176484,278582,055327239X,8,Service of All the Dead
176187,278582,0425191583,8,Imitation in Death (Eve Dallas Mysteries (Pape...
175949,278582,0345348176,8,From Doon With Death
176263,278582,0449003183,8,Brunswick Gardens (Charlotte &amp; Thomas Pitt...
176290,278582,0449206874,8,One Fine Day the Rabbi Bought a Cross
176305,278582,0449217213,8,Incident at Badamya
174882,278582,0141001976,8,Blanche Passes Go
176584,278582,1890208442,8,Daddy's Gone A-Hunting (Wesley Farrell Novels)
176572,278582,0804109818,8,The Jewel That Was Ours
23996,278582,0449221512,8,I Is for Innocent
60802,278582,0671001795,8,Two for the Dough
108791,278582,0345440064,8,Death of a Stranger
176517,278582,0743406583,7,Maggody and the Moonbeams
174895,278582,0312957785,7,The Venus Throw
175303,278582,0312980140,7,Seven Up (A Stephanie Plum Novel)
175596,278582,0312983867,7,Hard Eight : A Stephanie Plum Novel (A Stephan...
176171,278582,0425190927,7,The Wife Test
176139,278582,0425163717,7,Holiday in Death
176562,278582,0743480562,6,"CSI, Miami: Heat Wave"
176567,278582,0765344513,6,Over the Wine-Dark Sea (Hellenistic Seafaring ...
175905,278582,0312991460,6,To the Nines (A Stephanie Plum Novel)
176255,278582,0425193772,5,Indigo Dying
175763,278582,0312990456,5,One for the Money (A Stephanie Plum Novel)
175506,278582,0312983298,3,Full Speed (Janet Evanovich's Full Series)
174867,278582,0061063746,2,Hang Loose
176571,278582,076534503X,0,The Gryphon's Skull (Hellenistic Seafaring Adv...
176389,278582,048627263X,0,Flatland: A Romance of Many Dimensions (Dover ...
176565,278582,0743497988,0,Law and Order Deadline : An Original Law and O...
176486,278582,0553574027,0,Antarctica
176579,278582,1555971792,0,The Body in Four Parts
176385,278582,0451208498,0,Thieves' Paradise
176524,278582,0743448677,0,Without Pity : Ann Rule's Most Dangerous Killers
14574,278582,0312966970,0,Four To Score (A Stephanie Plum Novel)
176331,278582,0451205146,0,Black Hawk Down (Movie Tie-in)
17190,278582,0553581112,0,Justice Hall: A Mary Russell Novel (Mary Russe...
175758,278582,0312985649,0,A Grave Denied (A Kate Shugak Novel)
175103,278582,0312976275,0,Hot Six : A Stephanie Plum Novel (A Stephanie ...
174902,278582,0312971346,0,High Five (A Stephanie Plum Novel)
174891,278582,0312851561,0,The Sword of Samurai Cat (Tor Fantasy)
174890,278582,0312168586,0,Great Harry
174869,278582,0140250360,0,Blanche Among the Talented Tenth
174852,278582,0061032484,0,Children of the Storm
174815,278582,0060549270,0,A Greek God at the Ladies' Club (Avon Romance)
174814,278582,0060534397,0,All Shall Be Well
174809,278582,0060534389,0,A Share in Death
116741,278582,0380817152,0,The Golden One : A Novel of Suspense
46554,278582,0312966091,0,Three To Get Deadly : A Stephanie Plum Novel (...
24674,278582,0425175405,0,Black Notice
175760,278582,0312986327,0,Out on a Limb (A Claire Malloy Mystery)